@charset "utf-8";
/* CSS Document */

div{
	background: #FCEC10;
	color:#000000;
	padding-top: 50px;
	padding-bottom: 50px;
	
}


.id{
	background: #000000;
		color:#FFFFFF;
	padding-top: 50px;
	padding-bottom: 50px;
	
}
	
.i{
	background: #FCEC10;
		color:#000000;
	padding-top: 50px;
	padding-bottom: 50px;
	
}




